<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test Suite">
    <listeners>
        <listener class-name="Utility.Listener"/>
    </listeners>
    
    <test name="Cucumber Tests">
        <classes>
            <class name="Runners.TestRunner"/>
        </classes>
    </test>
</suite>
